[Unit]
Description=Telegraf watcher service
ConditionPathExists=/usr/bin/telegraf-watcher
After=telegraf.service

[Service]
Type=simple

Restart=always
RestartSec=3
StartLimitIntervalSec=60

ExecStart=/usr/bin/telegraf-watcher

[Install]
WantedBy=multi-user.target