[Unit]
Description=Generic configuration watcher service
ConditionPathExists=/usr/bin/generic-watcher

[Service]
Type=simple

Restart=always
RestartSec=3

ExecStart=/usr/bin/generic-watcher

[Install]
WantedBy=multi-user.target
